body{
    background-image: url("./assets/IMG_6821.jpg");
    background-size: cover;
    width: 100vw;
    filter: FlipH;
    -ms-filter: "FlipH";
}

main{
    
}

.Startbtn{
    background-color: aqua;
    position: absolute;
    top: 40%;
    left: 85%;
    margin: 50px;
}

button{
    top: 40px;
    right: 100px;
}

.Startbtn button{
    font-size: 50px;
    top: 40px;
    left: 100px;


}